body {
    font-family: 'Montserrat', sans-serif;
    background-color: #aecade;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#logo {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    margin-bottom: 20px;
}

.container {
    width: 50%;
    max-width: 400px;
}

.cadastro-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #1e2a3a;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0e3754 !important;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #40647e;
}

a {
    color: #1877f2;
    text-decoration: none;
}

/* Estilos do ícone de olho nos campos de senha */
.password-container {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888; /* Cor do ícone */
}

.eye-icon:hover {
    color: #000; /* Cor do ícone ao passar o mouse */
}

.profile-icon {
    position: absolute;
    right: 100px;
    cursor: pointer;
}

.profile-img {
    width: 40px;
    height: 40px;
}

.profile-img:hover {
    background-color: rgba(126, 143, 156);
    border-radius: 35px;
}

.mensagem-erro {
    background-color: #f44336; /* Cor de fundo vermelho para erros */
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

/* Animação de fade-in */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
