@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background-color: #aecade;
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    margin: 40px;
    margin-left: 160px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.inicial-conteiner {
    padding: 0;
}

/* ================================
   Sidebar Estilos
   ================================ */

.sidebar {
    background-color: #0e3754;
    padding: 10px 5px; /* Mais espaçamento vertical */
    width: 80px; 
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #000;
    z-index: 1000;
    overflow: hidden; /* Esconde conteúdo extra na sidebar */
}

.sidebar.expanded {
    width: 160px;
}

/* Logo */
.logo {
    width: 100%;
    margin-bottom: 10px;
    transition: width 0.3s ease;
}

.sidebar.expanded .logo {
    width: 80%;
}

/* Ícone do menu */
.menu-icon {
    font-size: 28px;
    color: white;
    cursor: pointer;
    margin-bottom: 15px;
}

/* Lista de navegação */
.nav-list {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

.nav-list li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 12px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-list a:hover {
    color: #000;
    background-color: rgba(255, 255, 255, 0.65);
}

.material-icons {
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s;
}

.nav-list a:hover .material-icons {
    color: #000;
}

/* Texto da sidebar */
.nav-text {
    display: none;
}

.sidebar.expanded .nav-text {
    display: inline;
    color: #f0e5d8;
}

/* ================================
   Botões de Login e Logout
   ================================ */

#loginBnt, #logoutButton {
    background-color: #007aff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 122, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#logoutButton {
    background-color: #dc3545;
}

#loginBnt:hover {
    background-color: #0051a8;
    box-shadow: 0 4px 20px rgba(0, 122, 255, 0.3);
}

#logoutButton:hover {
    background-color: #c82333;
    box-shadow: 0 4px 20px rgba(220, 53, 69, 0.3);
}

#loginBnt .material-icons, #logoutButton .material-icons {
    margin-right: 8px;
}

.sidebar:not(.expanded) #loginBnt .login-text, 
.sidebar:not(.expanded) #logoutButton .logout-text {
    display: none;
}

/* ================================
   Acessibilidade (Foco)
   ================================ */

.sidebar a:focus, #loginBnt:focus, #logoutButton:focus {
    outline: 2px solid #007bff;
}

/* ================================
   Conteúdo Principal Ajustável
   ================================ */

.petition-info, .center1, .tabela {
    width: calc(100% - 90px); /* Considera a sidebar colapsada */
    margin-left: 25px;
    padding:20px;
    box-sizing: border-box;
    background-color: #aecade;
    transition: width 0.3s ease, margin-left 0.3s ease;
}

.sidebar.expanded + .petition-info,
.sidebar.expanded + .center1,
.sidebar.expanded + .tabela {
    width: calc(100% - 160px); /* Considera a sidebar expandida */
    margin-left: 160px;
}

/* Estilização Geral de Contêineres */
.center-selects {
    display: flex;
    gap: 20px;
}

.div-select, .instancia {
    width: 100%;
}

.instancia select, select#emNomeDe, select.situation {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 12px;
    font-size: 1rem;
    background-color: #f0f8ff;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* ================================
   Botões Secundários
   ================================ */

.baixar-peticao, .arquivar-btn, .more-files {
    background-color: #0e3754;
    color: #ffffff;
    border: 1px solid #071e2e;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.baixar-peticao:hover, .arquivar-btn:hover, .more-files:hover {
    background-color: #071e2e;
    border-color: #0e3754;
}

/* ================================
   Estilo do Footer
   ================================ */

footer {
    background-color: #0e3754;
    color: #fff;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: calc(100% - 80px); /* Considera a sidebar colapsada */
    position: fixed;
    bottom: 0;
    left: 80px;
    transition: width 0.3s, left 0.3s;
}

.sidebar.expanded + footer {
    width: calc(100% - 160px);
    left: 160px;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

