/* ================================
   Variáveis Globais
   ================================ */
   :root {
    --font-main: "Radio Canada Big", sans-serif;
    --color-bg: #aecade;
    --color-primary: #0e3754;
    --color-secondary: #40E0D0;
    --color-text-light: #f0e5d8;
    --color-text-dark: #000;
    --color-border: #ced4da;
    --font-size-base: 20px; /* Aumentado para 20px */
    --font-size-small: 18px; /* Aumentado para 18px */
    --border-radius: 5px;
}

/* ================================
   Estilos Globais
   ================================ */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background-color: var(--color-bg);
    font-family: var(--font-main);
    font-size: var(--font-size-base);
    text-align: center;
    margin: 0;
    height: 100vh;
}

.inicial-conteiner {
    padding: 0;
}

/* ================================
   Barra Lateral
   ================================ */
.sidebar {
    background-color: var(--color-primary);
    padding: 20px;
    width: 80px; /* Aumentado para 80px */
    position: fixed;
    top: 0;
    bottom: 0;
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1.5px solid var(--color-text-dark);
}

.sidebar.expanded {
    width: 300px; /* Aumentado para 300px */
}

.logo {
    width: 100%; /* Ajustado para 100% */
    margin-bottom: 20px;
    display: block;
    transition: width 0.3s ease;
}

.sidebar.expanded .logo {
    width: 60%; /* Ajustado para 60% */
}

.content {
    margin-left: 80px; /* Ajustado para 80px */
    transition: margin-left 0.3s ease;
}

.sidebar.expanded + .content {
    margin-left: 300px; /* Ajustado para 300px */
}

/* ================================
   Tabela
   ================================ */
.table {
    width: 90%;
    max-width: 10000px;
    margin: 20px auto;
    border-radius: var(--border-radius);
    overflow: hidden;
}

/* ================================
   Menu de Navegação
   ================================ */
.menu-icon {
    font-size: 36px; /* Aumentado para 36px */
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-list li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: var(--font-size-base);
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: var(--color-text-dark);
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: var(--border-radius);
}

.material-icons {
    font-size: 32px; /* Aumentado para 32px */
    margin-right: 10px;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-list a:hover .material-icons {
    color: var(--color-text-dark);
}

.nav-text {
    display: none;
    color: #fff;
    font-size: var(--font-size-base);
    transition: color 0.3s ease;
}

.sidebar.expanded .nav-text {
    display: inline;
    color: var(--color-text-light);
}

#loginBnt {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: var(--font-size-base);
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: var(--border-radius);
    padding: 10px;
}

#loginBnt .material-icons {
    font-size: 32px; /* Aumentado para 32px */
    margin-right: 10px;
    color: #fff;
    transition: color 0.3s ease;
}

#loginBnt .login-text {
    color: var(--color-text-light);
    font-size: var(--font-size-base);
    display: none;
}

.sidebar.expanded #loginBnt .login-text {
    display: inline;
}

#loginBnt:hover {
    color: var(--color-text-dark);
    background-color: var(--color-secondary);
}

#loginBnt:hover .material-icons {
    color: var(--color-text-dark);
}

/* ================================
   Botão de Logout
   ================================ */
#logoutButton {
    color: var(--color-text-light);
    border: 1px solid #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: var(--font-size-base);
    padding: 10px;
}

#logoutButton .material-icons {
    margin-right: 8px;
}

#logoutButton .logout-text {
    display: inline;
}

.sidebar:not(.expanded) #logoutButton .logout-text {
    display: none;
}

#logoutButton:hover {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
}

/* ================================
   Foco para Acessibilidade
   ================================ */
.sidebar a:focus,
#logoutButton:focus {
    outline: 2px solid #007bff;
}

/* ================================
   Modelos
   ================================ */
.modelos {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.modelo {
    border-radius: 8px;
    background-color: rgba(133, 125, 125, 0.486);
    padding: 10px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.253);
    height: 100px;
    align-items: center;
}

.modelo h3 {
    font-size: 24px; /* Aumentado para 24px */
    color: rgba(0, 0, 0, 0.514);
}

.modelo span {
    font-size: var(--font-size-base);
    color: rgba(0, 0, 0, 0.767);
}

.div-left-modelo {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.nome-situcao select {
    background-color: aqua;
    padding: 3px 20px;
    border-radius: 12px;
    font-size: var(--font-size-small);
}

select.situation {
    width: 50%;
    padding: 0.5%;
    border: 1px solid var(--color-border);
    border-radius: 0.375rem;
    background-color: #fff;
    color: #495057;
    font-size: var(--font-size-small);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.select-container {
    width: 100%;
}

.select-container select {
    font-size: var(--font-size-small);
}

/* ================================
   Botões
   ================================ */
.baixar-peticao,
.arquivar-btn,
.more-files {
    background-color: #008cba;
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    font-size: var(--font-size-small);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.baixar-peticao:hover,
.arquivar-btn:hover,
.more-files:hover {
    background-color: #005f6b;
}

/* ================================
   Buscar
   ================================ */
.consultar-busca button {
    font-size: var(--font-size-small);
}

.check-name p {
    font-size: var(--font-size-small);
}
