/* menu.css */

/* Estilos Globais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

/* Layout Principal */
.main-container {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Sidebar */
.sidebar {
    width: 150px; /* Largura inicial colapsada */
    background-color: #2c3e50;
    height: 100vh;
    padding: 20px 10px; /* Menos padding para o estado colapsado */
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar.expanded {
    width: 250px; /* Largura expandida */
    padding: 20px;
}

.sidebar .logo {
    width: 80px; /* Logo menor no estado colapsado */
    margin: 1% auto;
    display: block;
    transition: width 0.3s ease;
    margin-bottom: 15%;
}

.sidebar.expanded .logo {
    width: 150px; /* Logo maior no estado expandido */
}

.menu-icon {
    font-size: 36px;
    color: #ecf0f1;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Itens da lista no estado colapsado */
.nav-list .nav-text, .loginButton, .logoutButton {
    display: none; /* Esconde o texto no estado colapsado */
}

.sidebar.expanded .nav-text, .loginButton, .logoutButton  {
    display: inline; /* Mostra o texto quando expandido */
}

.nav-list li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza os ícones no estado colapsado */
}

.sidebar.expanded .nav-list li {
    justify-content: flex-start; /* Reposiciona os ícones e texto no estado expandido */
}

/* Botões de Login e Logout */
#loginButton, #logoutButton {
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    color: #ecf0f1;
    border: 2px solid #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#loginButton:hover, #logoutButton:hover {
    background-color: #3498db;
    color: #ecf0f1;
}

/* Lista de Navegação */
.nav-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.nav-list li {
    margin-bottom: 20px;
}

.nav-list li a, #loginButton, #logoutButton {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    color: #ecf0f1;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.nav-list li a:hover {
    background-color: #3498db;
    border-radius: 5px;
}

/* Conteúdo da Página */
.content {
    margin-left: 250px;
    padding: 40px;
    flex-grow: 1;
}

h1 {
    font-size: 2.5rem;
    color: #2c3e50;
}

p.lead {
    font-size: 1.1rem;
    color: #7f8c8d;
}

/* Estilos dos Cards */
.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    color: #34495e;
}

.card-text {
    font-size: 1rem;
    color: #7f8c8d;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    width: 100%;
}

footer nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer nav ul li a {
    color: #ecf0f1;
    font-weight: bold;
}

footer nav ul li a:hover {
    color: #bdc3c7;
}
