<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Consulta de Petições</title>

        <!-- Links para estilos externos -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/consultar-modelo.css">
    </head>

    <body>
        <div class="sidebar">
            <img class="logo" src="../img/logo.png" alt="Logo da empresa">
            <span class="material-icons menu-icon" id="menuToggle">menu</span>
            <button class="btn bnt-outline-center" id="loginBnt">
                <span class="material-icons">account_circle</span>
                <span class="login-text">Perfil</span>
            </button><br>
            <ul class="nav-list">
                <li><a href="../View/menu.html"><span class="material-icons">home</span><span class="nav-text">Home</span></a></li><br>
                <li><a href="../View/consultar-modelo.html"><span class="material-icons">search</span><span class="nav-text">Consultar Petição</span></a></li><br>
                <li><a href="../View/cadastrarPeticao.html"><span class="material-icons">description</span><span class="nav-text">Cadastrar Petição</span></a></li><br>
                <li><a href="../View/criarClientes.html"><span class="material-icons">person_add</span><span class="nav-text">Cadastrar Clientes</span></a></li><br>
                <li><a href="../View/chatbot.html"><span class="material-icons">chat</span><span class="nav-text">Chatbot</span></a></li><br>
            </ul>
            <button class="btn btn-outline-danger" id="logoutButton">
                <span class="material-icons">exit_to_app</span>
                <span class="logout-text">Logout</span>
            </button>
        </div>

        <div class="content">
            <div class="consultar-modelo">
                <div class="center1">
                    <div class="center-selects">
                        <div class="second-select div-select">
                            <h3>Filtrar por nome:</h3>
                            <select aria-label="Escolha uma opção" name="emNomeDe" id="emNomeDe"></select>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="container-fluid" id="tabela">
                <table id="clientesTable" class="table custom-table">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Cpf</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Última alteração</th>
                            <th scope="col">Situação</th>
                            <th scope="col">Mais informações:</th>
                            <th scope="col">Arquivar</th>
                        </tr>
                    </thead>
                    <tbody id="clientesBody">
                        <!-- Linhas da tabela serão inseridas dinamicamente aqui -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 - Todos os direitos reservados</p>
        <nav>
            <ul>
                <li><a href="#">Termos de uso</a></li>
                <li><a href="#">Política de privacidade</a></li>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </footer>

    <div class="modal fade" id="editPetitionModal" tabindex="-1" aria-labelledby="editPetitionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editPetitionModalLabel">Protocolar Petição</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="editPetitionForm">
                  <!-- Status da Petição -->
                  <div class="mb-3">
                    <label for="petitionStatus" class="form-label">Status da Petição</label>
                    <select id="petitionStatus" class="form-select">
                      <option value="pendente">Pendente</option>
                      <option value="protocolada">Protocolada</option>
                      <option value="aceita">Aceita</option>
                      <option value="rejeitada">Rejeitada</option>
                      <option value="causa-ganha">Causa Ganha</option>
                    </select>
                  </div>
        
                  <div class="mb-3">
                    <label for="protocolNumber" class="form-label">Número do Protocolo</label>
                    <input type="text" id="protocolNumber" class="form-control" placeholder="Digite o número do protocolo">
                  </div>
        
                  <div class="mb-3">
                    <label for="protocolDate" class="form-label">Data Protocolo</label>
                    <input type="date" id="protocolDate" class="form-control">
                  </div>
        
                  <div class="mb-3">
                    <label for="petitionPortal" class="form-label">Portal de Peticionamento</label>
                    <input type="text" id="petitionPortal" class="form-control">
                    <!-- <select id="petitionPortal" class="form-select">
                      <option value="pje">PJe</option>
                      <option value="esaj">e-SAJ</option>
                      <option value="projudi">Projudi</option>
                      <option value="outro">Outro</option>
                    </select> -->
                  </div>
        
                  <div class="mb-3">
                    <label for="petitionObservations" class="form-label">Observações</label>
                    <textarea id="petitionObservations" class="form-control" rows="3" placeholder="Observações sobre o envio"></textarea>
                  </div>
                  <input type="hidden" id="petitionId" /> <!-- Input oculto para armazenar o ID da petição -->
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="saveStatus()">Salvar</button>
              </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="clienteModal" tabindex="-1" aria-labelledby="clienteModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="petition-info">
                    <div class="info-login">
                        <div class="card-info">
                            <h1>INFO PETICIONANTE</h1>
                            <hr>
                            <div class="card-info-name">
                                <input type="text" id="modalnomePeticionante" placeholder="Nome Peticionante">
                            </div>
                            <div class="card-info-name">
                                <input type="text" id="modalnomeAdvogado" placeholder="Nome do Advogado do processo">
                            </div>
                        </div>
            
                        <div class="card-info">
                            <h1>DADOS PARA O PROCESSO</h1>
                            <hr>
                            <div class="card-info-name dados-para-processo">
                                <div class="left-card-section">
                                    <input type="text" id="Modalforo" placeholder="FORO DIS....">
                                    <input type="text" id="Modalacidente" placeholder="Acidente......">
                                    <input type="text" id="Modalvalor" placeholder="R$00,00">
                                    <input type="text" id="Modaltelefone" placeholder="Telefone...">
                                    <input type="text" type="Modalmandatory" id="OAB" placeholder="valide sua OAB...">
                                </div>
                                <div class="right-card-section">
                                    <input type="text" id="Modalprocedimento" placeholder="Procedimento....">
                                    <input type="text" id="Modalauxilio" placeholder="6107 - Auxilio Acidente...">
                                    <input type="text" id="Modalemail" placeholder="E-mail...">
                                    <input type="text" id="Modaldescricao" placeholder="Pequena descrição...">
                                </div>
                            </div>
                        </div>
            
                        <div class="card-info">
                            <h1>POLO ATIVO</h1>
                            <hr>
                            <div class="card-info-name">
                                <h4>Parte ativa: REQUERENTE</h4>
                                <input type="text" id="ModalcpfAtivo" placeholder="CPF">
                            </div>
                        </div>
            
                        <div class="card-info">
                            <h1>POLO PASSIVO</h1>
                            <hr>
                            <div class="card-info-name">
                                <h4>INSS: REQUERIDO</h4>
                                <input type="text" id="ModalcnpjPassivo" placeholder="CNPJ">
                            </div>
                        </div>
                        <div class="lastAlteration">
                            <input type="text" id="editUltimaAlteracao">
                            <input type="text" id="situação">
                        </div>
                        <div class="buttons">
                            <button id="saveButton" class="btn btn-primary">Salvar</button>
                            <button id="editButton" class="btn btn-secondary">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Scripts necessários para o funcionamento do modal e outros comportamentos -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js" defer></script>
    <script type="module" src="../Controller/consultarModelo.controller.js" defer></script>
</body>
</html>