<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Smart Legal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/PaginaInicial.css">
</head>
<body>
    <div class="intro-container">
        <div class="intro-header">
            <img src="../img/logo.png" alt="Logo do Sistema">
            <h1>Bem-vindo ao Smart Legal</h1>
            <div class="btn-container">
                <a href="../View/login.html" class="btn btn-primary">Fazer Login</a>
                <a href="../View/cadastroAdvogado.html" class="btn btn-secondary">Cadastrar-se</a>
            </div>
        </div>
        <div class="card-container">
            <div class="info-card">
                <h5>Consulta de Petições</h5>
                <p>Consulte petições previamente cadastradas em nossa base de dados para obter informações relevantes sobre os casos.</p>
            </div>
            <div class="info-card">
                <h5>Cadastro de Petições</h5>
                <p>Cadastre novas petições, fornecendo informações detalhadas sobre o caso, partes envolvidas e procedimentos legais.</p>
            </div>
            <div class="info-card">
                <h5>Cadastro de Clientes</h5>
                <p>Cadastre clientes para manter um registro organizado de todas as partes relacionadas aos casos.</p>
            </div>
            <div class="info-card">
                <h5>Interação com o Chatbot</h5>
                <p>Utilize nosso chatbot para criar petições iniciais de maneira eficiente.</p>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 - Todos os direitos reservados</p>
        <nav>
            <ul>
                <li><a href="#">Termos de uso</a></li>
                <li><a href="#">Política de privacidade</a></li>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
