<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Petições</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="../css/tabelaCliente.css">
</head>
<body>
    <div class="sidebar" id="sidebar">
        <img src="../img/logo.png" alt="Logo do Sistema" width="150">
        <div class="profile-icon my-3" id="ProfileContainer">
            <ul>
                <li>
                    <a href="../View/perfilCliente.html">
                        <span alt="Ícone de Perfil" class="material-icons" id="Profile" title="Ir para o perfil">account_circle</span>
                    </a>
                </li>
                <li>
                    <a href="../View/tabelaCliente.html">
                        <span class="material-icons" id="tabelaView" alt="Tabela" title="ir para Tabela">table_view</span>
                    </a>
                </li>
                <li>
                    <a href="../View/chatbot.html">
                        <span class="material-icons" id="ChatBot" alt="chatBot" title="ir para chatBot">smart_toy</span>
                    </a>
                </li>
                <li>
                    <a id="logoutButton">
                        <span class="material-icons">exit_to_app</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="consultar-modelo">
            <div class="center1">
                <div class="center-selects">
                    <div class="second-select div-select">
                        <h3>Filtrar pela situação:</h3>
                        <select aria-label="Escolha uma opção" name="emSituacao" id="emSituacao"></select>
                    </div>
                </div>
            </div>
        </div>    
        <div class="container-fluid" id="tabela">
            <table id="clientesTable" class="table custom-table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Cpf</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Última alteração</th>
                        <th scope="col">Situação</th>
                        <th scope="col">Mais informações:</th>
                    </tr>
                </thead>
                <tbody id="clientesBody">
                    <!-- Linhas da tabela serão inseridas dinamicamente aqui -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="clienteModal" tabindex="-1" aria-labelledby="clienteModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="petition-info">
                    <div class="info-login">
                        <div class="card-info">
                            <h1>INFO PETICIONANTE</h1>
                            <hr>
                            <div class="card-info-name">
                                <input type="text" id="modalnomePeticionante" placeholder="Nome Peticionante" readonly>
                            </div>
                            <div class="card-info-name">
                                <input type="text" id="modalnomeAdvogado" placeholder="Nome do Advogado do processo" readonly>
                            </div>
                        </div>
                        <div class="card-info">
                            <h1>DADOS PARA O PROCESSO</h1>
                            <hr>
                            <div class="card-info-name dados-para-processo">
                                <div class="left-card-section">
                                    <input type="text" id="Modalforo" placeholder="FORO DIS...." readonly>
                                    <input type="text" id="Modalacidente" placeholder="Acidente......" readonly>
                                    <input type="text" id="Modalvalor" placeholder="R$00,00" readonly>
                                    <input type="text" id="Modaltelefone" placeholder="Telefone..." readonly>
                                    <input type="text" id="OAB" placeholder="valide sua OAB..." readonly>
                                </div>
                                <div class="right-card-section">
                                    <input type="text" id="Modalprocedimento" placeholder="Procedimento...." readonly>
                                    <input type="text" id="Modalauxilio" placeholder="6107 - Auxilio Acidente..." readonly>
                                    <input type="text" id="Modalemail" placeholder="E-mail..." readonly>
                                    <input type="text" id="Modaldescricao" placeholder="Pequena descrição..." readonly>
                                </div>
                            </div>
                        </div>
                        <div class="card-info">
                            <h1>POLO ATIVO</h1>
                            <hr>
                            <div class="card-info-name">
                                <h4>Parte ativa: REQUERENTE</h4>
                                <input type="text" id="ModalcpfAtivo" placeholder="CPF" readonly>
                            </div>
                        </div>
                        <div class="card-info">
                            <h1>POLO PASSIVO</h1>
                            <hr>
                            <div class="card-info-name">
                                <h4>INSS: REQUERIDO</h4>
                                <input type="text" id="ModalcnpjPassivo" placeholder="CNPJ" readonly>
                            </div>
                        </div>
                        <div class="lastAlteration">
                            <input type="text" id="editUltimaAlteracao" readonly>
                            <input type="text" id="situação" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js" defer></script>
    <script type="module" src="../controller/tabelaCliente.controller.js" defer></script>
</body>
</html>
