@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #aecade;
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}

.sidebar {
    background-color: #0e3754;
    padding: 20px;
    width: 60px; /* Largura inicial do menu lateral */
    position: fixed;
    top: 0;
    bottom: 0;
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1.5px solid #000;
}

.sidebar.expanded {
    width: 250px; /* Largura quando expandido */
}

.logo {
    width: 150%; /* Ajuste o tamanho do logo conforme necessário */
    margin-bottom: 20px;
    display: block;
    transition: width 0.3s ease;
}

.sidebar.expanded .logo {
    width: 40%; /* Ajuste o tamanho do logo quando expandido */
}

.menu-icon {
    font-size: 28px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Garante que a lista ocupe toda a largura disponível */
}

.nav-list li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center; /* Alinha os itens horizontalmente */
}

.nav-list a {
    color: white; /* Cor do texto inicialmente */
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: color 0.3s ease; /* Transição suave para a cor do texto */
}

.nav-list a:hover {
    color: #000; /* Cor do texto ao passar o mouse */
    background-color: rgba(255, 255, 255, 0.644); /* Cor de fundo ao passar o mouse */
    border-radius: 5px;
}

.material-icons {
    font-size: 24px;
    margin-right: 10px;
    color: #fff; /* Cor padrão dos ícones */
    transition: color 0.3s ease; /* Transição suave para a cor dos ícones */
}

.nav-list a:hover .material-icons {
    color: #000; /* Cor dos ícones ao passar o mouse */
}

.nav-text {
    display: none;
    color: #fff; /* Cor padrão do texto */
    transition: color 0.3s ease; /* Transição suave para a cor do texto */
}

.sidebar.expanded .nav-text {
    display: inline;
    color: #f0e5d8; /* Cor do texto quando expandido */
}

.card {
    margin: 10px;
    border-radius: 12px;
    background-color: #0e3754;
    color: white;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.5s ease, transform 0.5s ease, height 0.5s ease; /* Aumenta a duração da transição */
    overflow: hidden; /* Garante que o conteúdo extra não ultrapasse o card */
    position: relative;
}

.card-info {
    display: flex; /* Usa flexbox para centralizar o texto */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100%; /* Faz com que o card-info ocupe toda a altura do card */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center; /* Centraliza o texto */
    color: #ffffff; /* Cor do texto para garantir a visibilidade */
    z-index: 1; /* Garante que o conteúdo extra fique acima do conteúdo do card */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transição suave para visibilidade */
    font-size: 1em; /* Igual ao .card-title */
    font-weight: 400; /* Igual ao .card-title */
    line-height: 1.5; /* Ajuste a linha para melhorar a legibilidade */
    transform: translateY(100%); /* Inicialmente fora da tela */
    background: none; /* Remove o fundo do card-info */
}

.card:hover {
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.6);
    transform: translateY(-5px);
    height: 200px; /* Altura quando o card é hoverado */
}

.card:hover .card-info {
    opacity: 1; /* Torna o conteúdo visível ao passar o mouse */
    transform: translateY(0); /* Move o conteúdo para dentro do card */
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25em; /* Ajuste conforme necessário */
    font-weight: 700; /* Ajuste conforme necessário */
    color: white;
}

.content {
    margin-left: 60px; /* Compensa a largura da sidebar */
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #0e3754;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    margin-top: auto; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

#logoutButton {
    color: white;
    border: 1px solid white;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 10px;
}

#logoutButton .material-icons {
    margin-right: 8px;
}

#logoutButton .logout-text {
    display: inline;
}

.sidebar:not(.expanded) #logoutButton .logout-text {
    display: none;
}

#logoutButton:hover {
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
}

.sidebar a:focus,
#logoutButton:focus {
    outline: 2px solid #007bff;
}

/* Estilo para a barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da trilha */
}

/* Cor e estilo da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #0e3754; /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
    border: 3px solid #aecade; /* Cor ao redor da barra (espaço interno) */
}

/* Alterar a cor no hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #274255; /* Cor ao passar o mouse */
}
