@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

body{
    background-color: rgb(220, 225, 230);
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100vh;
}

.inicial-conteiner{
    padding: 0;
}

nav{
    background-color: rgb(29, 30, 31);
}

.navbar-brand{
    padding-left: 20px;
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.navbar-toggler{
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.26);
}

.nav-item{
    font-weight: 600;
    transition: .3s;
}

.active{
    color: rgba(26, 201, 207, 0.808) !important;
}

.nav-item:hover{
    background-color: rgba(240, 248, 255, 0.438);
    transition: .3s;
}

.nav-link{
    font-size: 18px;
    padding-left: 20px;
    color: white;

}

.container-secondary{
    height: 80%;
}

.center{
    display: flex;
    gap: 50px;
    height: 100%;
}

.petition-area{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.petition-view{
    height: 70%;
    background-color: rgba(0, 0, 0, 0.226);
    position: relative;
}

.petition-view span{
    color: rgba(0, 0, 0, 0.521);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div-geral-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 10px;
    background-color: rgb(173, 179, 185);
    padding-right: 25px;
    position: relative;
}

.more-files{
    width: 120px;
    border: 2px solid rgba(0, 0, 0, 0.507);
    background-color: rgb(74, 77, 80);
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.507);
    
    transition: .3s;
}

.more-files:hover{
    border: 2px solid black;

    color: rgb(255, 255, 255);
    background-color: rgba(74, 77, 80, 0.603);
}

.div-geral-style button{
    background-color: rgba(34, 131, 216, 0);
    border: 0cap;
}

.eye-icon{
    width: 30px;
    position: absolute;
    right: 5px;
    top: 10px;
}

.vertical-line {
    border-left: 1px solid black; /* Define a linha vertical */
    height: 100%; /* Altura da linha */
    margin: 0 20px; /* Margem para espaçamento */
}

#adicionais{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.petition-info{
    width: 700px;
    padding-top: 20px;
}

.info-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.card-info{
    background-color: rgba(166, 175, 182, 0.295);
    border-radius: 8px;
    padding-bottom: 20px;
}

.card-info h1{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.658);
}

.card-info hr{
    width: 100%;
}

.card-info-name{
    padding-left: 20px;
    padding-right: 20px;
}

.card-info input{
    padding-left: 20px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.521);
    background-color: rgba(240, 248, 255, 0);
}

.card-info-name h4{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.582);
}


.dados-para-processo{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.dados-para-processo input{
    display: flex;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}

.left-card-section, .right-card-section{
    width: 50%;
}