<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="cadastroCss.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
</head>
<body>
    <div class="container">
        <img id="logo" src="logo (2).png" alt="Logo">
        <div class="cadastro-box">
            <h2>Cadastre-se</h2>
            <form method="POST" action="" id="cadAdv">
                <input type="text" id="nome" placeholder="Nome">
                <input type="text" id="OAB" placeholder="OAB">
                <input type="text" id="inputCpf" placeholder="digite CPF">
                <input type="password" id="senha" placeholder="Crie sua senha">
                <input type="email" id="email" placeholder="Digite seu Email">
            </form>
            <button type="submit" name="addAdv" onclick="submitForm()">Cadastrar</button>
            <p>Já possui uma conta? <a href="login.html">Faça login</a></p>
        </div>
    </div>
    <script type="module" src="../Controller/cadastro.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>
