<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Petições</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../View/consultar.css">
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid inicial-conteiner">
            <img class="navbar-brand" id="logo" src="../View/logo (2).png" alt="Logo.">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../View/menu.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../View/consultar-modelo.html">Consultar Petição</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../View/cadastrarPeticao.html">Cadastrar Petição</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../View/criarClientes.html">Cadastrar Clientes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="center">
            <div class="modelos">
                <div class="modelo">
                    <div class="div-left-modelo">
                        <div class="nome-situcao">
                            <h3>Inicial de 1º Grau</h3>
                            <select name="cad-opt" id="cad-opt">
                                <option value="Em cadastramento">Em cadastramento</option>
                                <option value="Aguardando envio">Aguardando envio</option>
                                <option value="Protocolada">Concluída</option>
                            </select>
                       </div> 
                       <div class="despejo">
                            <h3>Despejo</h3>
                            <span>Despejo para Use de ...</span>
                       </div>
                       <div class="dado-sensiel">
                            <h3>Dados</h3>
                            <span>000.000.000-00</span>
                       </div>
                       <div class="ultima-aleracao">
                            <h3>Última alteração</h3>
                            <span>00/00/0000 00:00</span>
                       </div>
                    </div>

                    <div class="div-right-modelo">
                        <div class="continuar-excluir">
                            <button class="continuarBtn">continuar</button>
                            <button class="excluirBtn"><img src="../View/lixeira-icon.png" alt="exclir petição"></button>
                        </div>
                    </div>
                </div>

                <div class="modelo">
                    <div class="div-left-modelo">
                        <div class="nome-situcao">
                            <h3>Inicial de 1º Grau</h3>
                            <select name="cad-opt" id="cad-opt">
                                <option value="Em cadastramento">Em cadastramento</option>
                                <option value="Aguardando envio">Aguardando envio</option>
                                <option value="Protocolada">Concluída</option>
                            </select>
                       </div> 
                       <div class="despejo">
                            <h3>Despejo</h3>
                            <span>Despejo para Use de ...</span>
                       </div>
                       <div class="dado-sensiel">
                            <h3>Dados</h3>
                            <span>000.000.000-00</span>
                       </div>
                       <div class="ultima-aleracao">
                            <h3>Última alteração</h3>
                            <span>00/00/0000 00:00</span>
                       </div>
                    </div>

                    <div class="div-right-modelo">
                        <div class="continuar-excluir">
                            <button class="continuarBtn">continuar</button>
                            <button class="excluirBtn"><img src="../View/lixeira-icon.png" alt="exclir petição"></button>
                        </div>
                    </div>
                </div>

                <div class="modelo">
                    <div class="div-left-modelo">
                        <div class="nome-situcao">
                            <h3>Inicial de 1º Grau</h3>
                            <select name="cad-opt" id="cad-opt">
                                <option value="Em cadastramento">Em cadastramento</option>
                                <option value="Aguardando envio">Aguardando envio</option>
                                <option value="Protocolada">Concluída</option>
                            </select>
                       </div> 
                       <div class="despejo">
                            <h3>Despejo</h3>
                            <span>Despejo para Use de ...</span>
                       </div>
                       <div class="dado-sensiel">
                            <h3>Dados</h3>
                            <span>000.000.000-00</span>
                       </div>
                       <div class="ultima-aleracao">
                            <h3>Última alteração</h3>
                            <span>00/00/0000 00:00</span>
                       </div>
                    </div>

                    <div class="div-right-modelo">
                        <div class="continuar-excluir">
                            <button class="continuarBtn">continuar</button>
                            <button class="excluirBtn"><img src="../View/lixeira-icon.png" alt="exclir petição"></button>
                        </div>
                    </div>
                </div>

                <div class="modelo">
                    <div class="div-left-modelo">
                        <div class="nome-situcao">
                            <h3>Inicial de 1º Grau</h3>
                            <select name="cad-opt" id="cad-opt">
                                <option value="Em cadastramento">Em cadastramento</option>
                                <option value="Aguardando envio">Aguardando envio</option>
                                <option value="Protocolada">Concluída</option>
                            </select>
                       </div> 
                       <div class="despejo">
                            <h3>Despejo</h3>
                            <span>Despejo para Use de ...</span>
                       </div>
                       <div class="dado-sensiel">
                            <h3>Dados</h3>
                            <span>000.000.000-00</span>
                       </div>
                       <div class="ultima-aleracao">
                            <h3>Última alteração</h3>
                            <span>00/00/0000 00:00</span>
                       </div>
                    </div>

                    <div class="div-right-modelo">
                        <div class="continuar-excluir">
                            <button class="continuarBtn">continuar</button>
                            <button class="excluirBtn"><img src="../View/lixeira-icon.png" alt="exclir petição"></button>
                        </div>
                    </div>
                </div>

                <div class="modelo">
                    <div class="div-left-modelo">
                        <div class="nome-situcao">
                            <h3>Inicial de 1º Grau</h3>
                            <select name="cad-opt" id="cad-opt">
                                <option value="Em cadastramento">Em cadastramento</option>
                                <option value="Aguardando envio">Aguardando envio</option>
                                <option value="Protocolada">Concluída</option>
                            </select>
                       </div> 
                       <div class="despejo">
                            <h3>Despejo</h3>
                            <span>Despejo para Use de ...</span>
                       </div>
                       <div class="dado-sensiel">
                            <h3>Dados</h3>
                            <span>000.000.000-00</span>
                       </div>
                       <div class="ultima-aleracao">
                            <h3>Última alteração</h3>
                            <span>00/00/0000 00:00</span>
                       </div>
                    </div>

                    <div class="div-right-modelo">
                        <div class="continuar-excluir">
                            <button class="continuarBtn">continuar</button>
                            <button class="excluirBtn"><img src="../View/lixeira-icon.png" alt="exclir petição"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="./src/consultar.js"></script>
</body>
</html>
