<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Petições</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../View/consultar-modelo.css">
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid inicial-conteiner">
            <img class="navbar-brand" id="logo" src="../View/logo (2).png" alt="Logo.">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../View/menu.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../View/consultar-modelo.html">Consultar Petição</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../View/cadastrarPeticao.html">Cadastrar Petição</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../View/criarClientes.html">Cadastrar Clientes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="pos-nav">
        <div class="pos-nav-buttons">
            <button class="criar-peticao-i">Criar Petição Intermediária</button>
            <div class="dropdown show">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Criar Petição Inicial
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
        </div>
    </div>

    <div class="consultar-modelo">
        <div class="center1">
            <div class="center-selects">
                <div class="first-selects div-select">
                    <h3>Cadastrada por*</h3>
                    <select name="cadastradoPor" id="cadastradoPor">
                        
                    </select>
                </div>
                <div class="second-select div-select">
                    <h3>Em nome de*</h3>
                    <select name="emNomeDe" id="emNomeDe">
                        <option value="DEFENSORIA....">DEFENSORIA....</option>
                        <option value="DEFENSORIA2....">DEFENSORIA2....</option>
                        <option value="DEFENSORIA3....">DEFENSORIA3....</option>
                    </select>
                </div>
            </div>

            <div class="instancia">
                <h3>Intância</h3>

                <select name="instancia" id="instanciaSelect">
                    <option value="1grau">1º Grau</option>
                    <option value="2grau">2º Grau</option>
                    <option value="3grau">3º Grau</option>
                </select>
            </div>
            <div class="situacao">
                <div class="todos-os-checks">
                    Situação
                    <div class="checks1">
                        <div class="check-name">
                            <input type="checkbox">
                            <p>Em cadastramento</p>
                        </div>

                        <div class="check-name">
                            <input type="checkbox">
                            <p>Aguardando envio</p>
                        </div>

                        <div class="check-name">
                            <input type="checkbox">
                            <p>Protocolada</p>
                        </div>
                    </div>
                    <div class="ckeck2-div">
                        Tipo
                        <div class="checks2">
                            <div class="check-name">
                                <input type="checkbox">
                                <p>Inicial</p>
                            </div>
    
                            <div class="check-name">
                                <input type="checkbox">
                                <p>Intermediária</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="consultar-busca">
                    <button>Consultar</button>
                </div>
            </div>

            <div class="exportat-div">
                <button class="continuarBtn">Exportar para arquivo</button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
            <table id="clientesTable" class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Cpf</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Ultima alteração</th>
    
                  </tr>
                </thead>
                <tbody id="clientesBody">
                
                </tbody>
            </table>   
    </div>
    
   <br><br><br><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="./../Controller/cadastrarMoldelo.controller.js"></script>
</body>
</html>
