@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background-color: #aecade;
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100vh;
    text-align: center;
    margin: 0;
}

.inicial-conteiner {
    padding: 0;
}

nav {
    background-color: #0e3754;
}

.navbar-brand {
    padding-left: 20px;
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.navbar-toggler {
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.26);
}

.nav-item {
    font-weight: 600;
    transition: .3s;
}

.active {
    color: rgba(26, 201, 207, 0.808) !important;
}

.nav-item:hover {
    background-color: rgba(240, 248, 255, 0.438);
    transition: .3s;
}

.nav-link {
    font-size: 18px;
    padding-left: 20px;
    color: white;
}

.center {
    width: 100%;
    height: 100%;
}

#logo {
    width: 4%;
}

.pos-nav{
    width: 100%;
    background-color: rgba(117, 114, 114, 0.486);
    padding: 20px;
    display: flex;
    justify-content: end;
}

.pos-nav-buttons{
    display: flex;
    gap: 6px;
}

.pos-nav-buttons button{
    background-color: rgba(255, 255, 0, 0.527) !important;
    max-width: max-content;
    border: 1px solid rgba(0, 0, 0, 0.418);
    border-radius: 2px;
}

.pos-nav-buttons button:hover{
    background-color: rgba(255, 255, 0, 0.753);
    border: 1px solid rgba(0, 0, 0, 0.795);
}

.dropdown-toggle{
    background-color: rgba(255, 255, 0, 0.527) !important;
    max-width: max-content;
    border: 1px solid rgba(0, 0, 0, 0.418);
    border-radius: 2px;
}

.dropdown-toggle:hover{
    background-color: rgba(255, 255, 0, 0.753);
    border: 1px solid rgba(0, 0, 0, 0.795);
}

.center{
    width: 100%;
    height: 100%;
}

.modelos{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.modelo{
    border-radius: 8px;
    background-color: rgba(133, 125, 125, 0.486);
    padding: 10px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.253);
    height: 100px;
    align-items: center;
}

.modelo h3{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.514);
}

.modelo span{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.767);
}

.div-left-modelo{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.nome-situcao select{
    background-color: aqua;
    padding: 3px 20px;
    border-radius: 12px;
}

select.situation {
    width: 50%; /* Faz com que o select ocupe toda a largura disponível */
    padding: 0.5%; /* Espaçamento interno */
    border: 1px solid #ced4da; /* Cor da borda */
    border-radius: 0.375rem; /* Bordas arredondadas */
    background-color: #ffffff; /* Cor de fundo do select */
    color: #495057; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    transition: border-color 0.2s ease, box-shadow 0.2s ease; /* Transição suave */
    cursor: pointer; /* Cursor de ponteiro */
    appearance: none; /* Remove a aparência padrão do select */
    -webkit-appearance: none; /* Remove a aparência padrão em WebKit */
    -moz-appearance: none; /* Remove a aparência padrão em Firefox */
}

/* Adicionando um ícone de seta para o select */
select.situation::after {
    content: '▼'; /* Símbolo de seta */
    position: absolute;
    right: 1rem; /* Posiciona a seta à direita */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta a posição da seta */
    pointer-events: none; /* Evita que a seta seja clicável */
}

/* Estilo do contêiner do select */
.select-container {
    position: relative;
    display: inline-block;
}

/* Estilo para o select em foco */
select.situation:focus {
    border-color: #007bff; /* Cor da borda em foco */
    background-color: #fff; /* Cor de fundo em foco */
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25); /* Sombra de foco */
    outline: none; /* Remove o contorno padrão do navegador */
}

.arquivar-btn {
    background-color:#0e3754;
    color: white !important;
    border-style: none;
}

.consultar-modelo{
    max-height: max-content;
}

.center1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: #aecade;
}

.center-selects{
    display: flex;
    gap: 20px;
}

.div-select h3{
    font-size: 16px;
}

.div-select select{
    border: 1px solid rgba(0,0,0,0.5);
    padding: 5px;
}

.instancia{
    width: 100%;
}

.instancia h3{
    font-size: 16px;
}

.instancia select{
    width: 100%;
    background-color: rgba(240, 248, 255, 0.712);
    height: 35px;
    padding-left: 20px;
}

.consultar-busca{
    padding-top: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.consultar-busca button{
    background-color: rgba(255, 187, 0, 0.795) !important;
    max-width: max-content;
    border: 1px solid rgba(0, 0, 0, 0.418);
    border-radius: 6px;
    padding: 8px;
}

.consultar-busca span{
    font-size: 14px;
    color: rgb(82, 165, 238);
}

.todos-os-checks{
    padding-top: 30px;
}

.checks1{
    display: flex;
    gap: 20px;
    padding-left: 20px;
}

.ckeck2-div{
    padding-top: 20px;
}

.checks2{
    display: flex;
    gap: 20px;
    padding-left: 20px;
}

.check-name{
    width: 180px;
    gap: 5px;
    display: flex;
    align-items: center;
    text-align: center;
}

.check-name input[type="checkbox"] {
    vertical-align: middle; /* Alinha verticalmente com o texto */
}

.check-name p {
    margin: 0; /* Remove a margem padrão do parágrafo */
}

select#emNomeDe {
    width: 100%; /* Faz com que o select ocupe toda a largura disponível */
    padding: 2%; /* Espaçamento interno */
    border: 1px solid #728597; /* Cor da borda */
    border-radius: 0.375rem; /* Bordas arredondadas */
    background-color: #ffffff; /* Cor de fundo do select */
    color: #495057; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    transition: border-color 0.2s ease, box-shadow 0.2s ease; /* Transição suave */
    cursor: pointer; /* Cursor de ponteiro */
    appearance: none; /* Remove a aparência padrão do select */
    -webkit-appearance: none; /* Remove a aparência padrão em WebKit */
    -moz-appearance: none; /* Remove a aparência padrão em Firefox */
}

/* Adicionando um ícone de seta para o select */
select#emNomeDe::after {
    content: '▼'; /* Símbolo de seta */
    position: absolute;
    right: 1rem; /* Posiciona a seta à direita */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta a posição da seta */
    pointer-events: none; /* Evita que a seta seja clicável */
}

/* Estilo para o select em foco */
select#emNomeDe:focus {
    border-color: #007bff; /* Cor da borda em foco */
    background-color: #fff; /* Cor de fundo em foco */
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25); /* Sombra de foco */
    outline: none; /* Remove o contorno padrão do navegador */
}

.exportat-div{
    width: 100%;
    display: flex;
    justify-content: end;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #fff;
	text-decoration: none;
}

.more-files {
    display:inline-block;
    width: 30%;
    border: 2px solid rgba(0, 0, 0, 0.507);
    background-color: #473030;
    border-radius: 2px;
    margin: 5% auto; 
    color: white;
    transition: .3s;
    text-align: center;
    line-height: 40px;
    cursor: pointer;

}

.more-files:hover {
    border: 2px solid black;
    color: black ;
    background-color: rgb(106, 139, 201);
}

.table {
    /* Cores personalizadas */
    --table-color: #e0f7f6; /* Cor do texto na tabela */
    --table-bg: #0e3754; /* Cor de fundo da tabela */
    --table-border-color: #aecade; /* Cor da borda da tabela */
    --table-accent-bg: #071e2e; /* Cor de destaque da tabela */
    --table-striped-color: #e0f7f6; /* Cor do texto nas linhas listradas */
    --table-striped-bg: #071e2e; /* Cor de fundo das linhas listradas */
    --table-active-color: #e0f7f6; /* Cor do texto nas células ativas */
    --table-active-bg: #071e2e; /* Cor de fundo das células ativas */
    --table-hover-color: #e0f7f6; /* Cor do texto nas células quando passa o mouse */
    --table-hover-bg: #071e2e; /* Cor de fundo das células quando passa o mouse */
    border-radius: 5px; /* Define o raio da borda */
    overflow: hidden;

    /* Restante do CSS para estilizar a tabela */
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: middle;
    border-color: var(--table-border-color);

    > :not(caption) > * > * {
        padding: .75rem .5rem;
        color: var(--table-color);
        background-color: var(--table-bg);
        border-bottom-width: 3px;
        box-shadow: inset 0 0 0 9999px var(--table-bg);
    }
}


.custom-table th,
.custom-table td {
    color: white;
}

footer {
	background-color: #1f1515;
	color: #fff;
	padding: 20px;
	text-align: center;
}

footer > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer > li {
	display: inline-block;
	margin: 0 10px;
}

footer > a {
	color: #fff;
	text-decoration: none;
}