<head>  
    <body>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="loginCss.css">
        <title>Login</title>
        <script src="../controller/login.controller.js"></script>
        <a id="loginForm">
            <input type="text" id="inputCpf" placeholder="Digite o CPF">
            <input type="text" id="OAB" placeholder="Digite sua OAB">
            <button type="submit" onclick="submitForm()">Login</button>
        </a>
    </body>
</head>