body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center horizontally */
    justify-content: center;  /* Center vertically */
    flex: 1;
    margin: 0 auto;  /* Center the container itself */
}

#logo {
    max-width: 150px;
    display: block;
    margin: 0 auto 25px;
}

.login-box, .introBox {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #1e2a3a;
    text-align: center;  /* Center text */
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0d4240;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0d4240;
}

a {
    color: #004aaa;
    text-decoration: none;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #dddfe2;
}

.create-account {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0d4240;
    color: #fff;
    cursor: pointer;
}

.create-account:hover {
    background-color: #333;
}

footer {
    background-color: #0d4240;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}
