<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Principal</title>
    <link rel="stylesheet" href="menuCSS.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
</head>
<body>
    <div class="container">
        <i id="burger" onclick="clickMenu()" class="material-icons" >menu</i>
        <menu id="itens">
            <img id ="logo" src="logo (2).png" alt="Logo">
            <h4>Menu</h4>
            <ul>
                <li><a href="#">Buscar Petições</a></li>
                <li><a href="#">Visualizar Petições</a></li>
                <li><a href="#">Criar Petições</a></li>
                <li><a href="../View/criarClientes.html">Meus os Clientes</a></li>
            </ul>
        </menu>
        <div class="content">
            <section>
                <h2>Clientes do Advogado:</h2>
                <table class="table">
                    
                </table>
            </section>
            <section>
                <h2>O Que É uma Petição Inicial:</h2>
                <p>Uma petição inicial é um documento legal apresentado por uma parte (o autor ou demandante) a um tribunal, com o objetivo de iniciar um processo judicial. Geralmente, uma petição inicial contém uma descrição dos fatos relevantes do caso, as alegações legais que sustentam a reivindicação do autor, e um pedido específico de alívio ou reparação.
                    As petições iniciais são fundamentais no sistema jurídico, pois estabelecem as bases para a resolução de disputas legais perante os tribunais. Elas devem ser redigidas de forma clara, precisa e em conformidade com as leis e regras processuais aplicáveis. Uma petição inicial bem elaborada é essencial para garantir que os direitos e interesses das partes envolvidas sejam adequadamente representados perante o tribunal.</p>
            </section>
        </div>
    </div>
    <script type="text/javascript" src="../Controller/menu.contoller.js"></script>
</body>
</html>
