<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Principal</title>
    <link rel="stylesheet" href="menuCSS.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
</head>
<body>
    <div class="container">
        <i id="burger" onclick="clickMenu()" class="material-icons" >menu</i>
        <menu id="itens">
            <img id="logo" src="logo (2).png" alt="Logo">
            <ul>
                <li><a href="#">Buscar Petições</a></li>
                <li><a href="#">Visualizar Petições</a></li>
                <li><a href="../View/chatbot.html">Criar Petições</a></li>
                <li><a href="../View/criarClientes.html">Meus os Clientes</a></li>
            </ul>
        </menu>
                <li><a href="../View/criarClientes.html">Meus os Clientes</a></li>
        <div class="content">
            <section>
                <h2>Tabela de Clientes</h2>
                <table id="clientesTable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>PDF</th>
                        </tr>
                    </thead>
                    <tbody id="clientesBody">
                       
                    </tbody>
                </table>
            </section>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../Controller/cadastroCliente.controller.js"></script>
    <script type="text/javascript" src="../Controller/menu.contoller.js"></script>
</body>
</html>
