<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu a Senha</title>
    <link rel="stylesheet" href="../View/updateSenhaCss.css">
</head>
<body>
    <div class="container">
        <form class="forgot-password-form" action="#">
            <h2>Esqueceu a Senha?</h2>
            <p>Informe o seu endereço de e-mail para recuperar a senha.</p>
            <input type="email" placeholder="Seu E-mail" required>
            <button type="submit">Recuperar Senha</button>
        </form>
    </div>
</body>
</html>