<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu a Senha</title>
    <link rel="stylesheet" href="../View/updateSenhaCss.css">
</head>
<body>
    <div class="container">
        <form class="redefinirSenhaForm" action="#">
            <h2>Esqueceu a Senha?</h2>
            <p>Informe o seu endereço de e-mail para recuperar a senha.</p>
            <input type="text" id="redefinirOab" placeholder="Digite sua OAB" required="true">
            <input type="email" id="emailDeRedefinir" placeholder="Seu E-mail" required="true">
            <button type="submit" onclick="redefinirSenha()">Recuperar Senha</button>
        </form>
    </div>
    <script type="module" src="../model/redefinirSenha.js"></script>
</body>
</html>
